@media (min-width: map-get($grid-breakpoints, xl)) {
	#staff-slider {
		background: linear-gradient(to top, $gray-light 26%, transparent 0);
		
		&.home{
			.staff-slider{
				.owl-item{
					.foto {
						height: 24rem;
					}
				}
			}
		}
		
		.staff-slider {
			.owl-item {
				.foto {
					height: 24.4rem;
				}

				&:hover {
					.person::before {
						top: -13px;
					}
				}
			}
		}
	}
}