.btn{
	padding: 15px 40px;
	font-size: 16px!important;
	border-radius: 0px;
	outline: none!important;
	font-family: 'Gilroy-Bold'!important;
}

.btn-black{
	background-color: $black-mid!important;
	color: #fff!important;
	&:hover{
		background-color: $gray;
	}
	&:active{
		background-color: $gray;
	}
}

.btn-transparent{
	border: 1px solid $gray-light;
	color: #000!important;
	&:hover{
		border: 1px solid black;
	}
	&:active{
		border: 1px solid black;
	}
}

.btn-white{
	background-color: #fff;
	color: #000!important;
}

.btn-white-transparent{
	border: 1px solid $gray;
	color: #fff!important;
	&:hover{
		border: 1px solid #fff;
	}
	&:active{
		border: 1px solid #fff;
	}
}


#banner{
	.btn-white-transparent{
		border: 1px solid rgba(255, 255, 255, 0.4);
		color: #fff!important;
		&:hover{
			border: 1px solid #fff;
		}
		&:active{
			border: 1px solid #fff;
		}
}
}