@media (min-width: map-get($grid-breakpoints, md)) {	
	#banner-properties {
		height: 65vh;

		.filtration {
			.search {
				flex: 0 0 7rem;

				button {
					height: 7rem;
					width: 100%;
					border: none;
					background-color: $black-mid;

					i {
						color: #fff;
					}
				}
			}
		}

		.overlay {
			height: 65vh;
		}
	}
}