@media (min-width: map-get($grid-breakpoints, md)) {

	h1{
		font-size: 48px;
		line-height: 70px;
	}

	h2{
		font-size: 36px;
		line-height: 60px;
		&.h1{
			font-size: 48px;
			line-height: 1.2;
		}
	}

	h4{
		font-size: 20px;
	}
}