@media (min-width: map-get($grid-breakpoints, md)) {
	#staff-slider {
		background: linear-gradient(to top, $gray-light 24.3%, transparent 0);
		
		&.home{
			.staff-slider{
				.owl-item{
					.foto {
						height: 26.9rem;
					}
				}
			}
		}

		.staff-slider {
			.owl-item {
				.foto {
					height: 27.4rem;
				}

				&:hover {
					.person::before {
						top: -13px;
					}
				}
			}
		}
	}
}