@media (min-width: map-get($grid-breakpoints, lg)) {
	#banner{
		.btn{
			width: unset;
		}
		.buttons{
			.indicator{
				display: inline-block;
				width: 300px;
				height: 130px;
				.indicator-img{
					width: 300px;
					height: 150px;
				}
			}
		}
	}
}