@media (min-width: map-get($grid-breakpoints, lg)) {
	#staff-slider {
		background: linear-gradient(to top, $gray-light 27.7%, transparent 0);
		
		.staff-slider {
			.owl-item {
				.foto {
					height: 23.4rem;
				}

				&:hover {
					.person::before {
						top: -19px;
					}
				}
			}
		}
	}
}