#banner{
	height: 100vh;
	background-color: #000;
	overflow-y: hidden;
	.banner{
		h2{
			color: #fff;
			font-size: 60px;
			line-height: 70px;
		}
		.item{
			height: 100vh;
			.bg{
				height: 100vh;
				width: 100vw;
				opacity: 0.55;
				background-size: cover;
				background-position: 50% 0%;
				position: absolute;
			}
		}
	}
	.buttons{
		position: absolute;
		bottom: 0;
		width: 100vw;
		z-index: 2;
		height: 170px;
		.indicator{
			display: inline-block;
			width: 300px;
			height: 150px;
			background-color: $black-mid;
			-webkit-appearance:none;
			border: none;
			padding: 0;
			color: #fff;
			top: 20px;
			position: relative;
			transition: 0.6s ease;
			float: left;
			.center{
				display: flex;
				vertical-align: middle;
			}
			.indicator-img{
				position: absolute;
				width: 300px;
				height: 170px;
				top: 170px;
				background-size: cover;
				transition: 0.6s ease;
			}
			&:hover,&.active{
				height: 170px;
				top: 0;
				.indicator-img{
					top: 0;
				}
			}
		}
	}
}
