#banner-develop {
	background-color: #000;
	height: 50vh;

	.headline-wrapper {
		display: flex;
		flex-wrap: wrap;
		vertical-align: middle;
		position: absolute;
		width: 100vw;
		height: 50vh;
		left: 0;
		top: 0;
	}

	#clip{
		background: url(/images/slide2.png);
		background-size: 200%;
		background-position: center;
		background-attachment: fixed;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;

		transition: background-size 2.5s ease;
		font-size: 50px;
		line-height: 1.05;
		text-align: center;
		margin: auto;
	}

	.overlay {
		opacity: 0.55;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		width: 100vw;
		height: 50vh;
	}
}