#develop-projects {
	background-color: $black-mid;
	color: #fff;

	h2{
		margin-top: 0;
		margin-bottom: spacer(4);
	}

	p {
		margin-bottom: spacer(4);
	}

	.hr {
		border-top: 1px solid $gray; 
	}

	.image-item {
		background-position: center;
		background-size: cover;
		width: 100%;
		padding-top: 37%;
	}
}