#develop{
	background-color: $black-mid;
	position: relative;
	.left{
		z-index: 11;
		background-color: $black-mid;
	}
	h2{
		font-size: 60px;
		color: #fff;
	}
	p{
		color: #fff;
	}
	.develop{
		.item{
			height: 25rem;
			background-size: cover;
			background-position: center;
		}
		.owl-stage-outer{
			overflow: hidden!important;
		}
		.owl-nav{
			background-color: $black-mid;
			position: absolute;
			right: 0;
			bottom:0;
			width: 150px;
			padding: 20px 0px 0 20px;
			.owl-next{
				position: absolute;
				right: 0;
			}
			.owl-next,.owl-prev{
				border: 1px solid $gray;
			}
			i{
				color: #fff;
				padding: 10px 14px;
			}
		}
	}
	h5{
		margin-bottom: spacer(5);
	}
	h2{
		margin-bottom: spacer(4)
	}
	.slider-counter{
		position: absolute;
		bottom: 0.6rem;
		right: 3.4rem;
		z-index: 4;
		color: #fff;
		width: 20px;
		font-size: 12px;
	}
	.develop-slider{
		.owl-stage-outer{
			overflow: unset;
		}
	}
	.container::after {
		content: " ";
		width: 50%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		box-shadow: inset 87vw 0 0 -50vw $black-mid;
		z-index: 10;
	}
}