footer {
	background-color: $black-mid;

	.footer-hr {
		border-top: 1px solid $gray;
		width: 100%;
	}

	.sponsor-slider {
		.item img {
			filter: grayscale(100%);

			&:hover {
				filter: grayscale(0);
				transition: 0.7s;				
			}
		}
	}

	ul {
		li {
			list-style: none;

			a {
				color: #fff!important;
			}
		}
	}

	h2 {
		color: #fff;
	}

	p {
		color: #fff;
		margin-bottom: 0;  
	}
}