footer {
	background-color: #171717;

	.footer-hr {
		border: 1px solid $gray;
		width: 100%;
	}

	.sponsor-slider {
		.owl-item{
			height: 10rem;
		}
		.item{
			display: flex;
			height: 100%;
			img {
				margin: auto;
				filter: grayscale(100%) invert(1) contrast(0.5);

				&:hover {
					filter: grayscale(0);
					transition: 0.3s;
				}
		}
		}
	}

	ul {
		padding: 0;

		li {
			list-style: none;

			a {
				color: #fff!important;
			}
		}
	}

	h2 {
		color: #fff;
	}

	p {
		color: #fff;
		margin-bottom: 0;  
	}
}