html, body {
	font-family: 'Gilroy-Light';
	color: #000;
	overflow-x:hidden;
}

h1{
		font-size: 48px;
		line-height: 1.2;
	}

h2{
	font-size: 32px;
	line-height: 60px;
	&.h1{
		font-size: 36px;
		line-height: 1.2;
	}
}

h3{
	font-size: 33px;
	line-height: 50px;
}

h4{
	font-size: 16px;
	line-height: 40px;
}

h5{
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 1.5px!important;
	color: #fff;
}

p,a{
	font-size: 16px;
	line-height: 25px;
}

strong{
	font-family: 'Gilroy-Bold';
}

a,button{
	text-decoration: none!important;
	outline: none!important;
}

.hr{
	border: 1px solid $gray-light;
	width: 30px;
	display: inline-block;
	margin-bottom: 4px;
	color: transparent;
	opacity: 0.15;
}

.underline{
	font-family: 'Gilroy-Bold';
	color: #000!important;
	text-decoration: underline!important;
	letter-spacing: 1.2px;
	display: block;
	&.right {
		transform-origin: right;
	}
	&.left {
		transform-origin: left;
	}
	transition: transform .4s;
	&:hover{
		transform: scale(1.1);
	}
}

a[data-lightbox] {
	background-color: #000;
	img {
		opacity: 0.55;
		transition: opacity .5s;
	}

	&:hover {
		img {
			opacity: 1;
		}
	}
}

.w-100{
	height: auto;
}

input, button, a, select, textarea {
	outline: none;
}

.logo{
	pointer-events: none;
}