#offer {
	background-color: $gray-light;

	.offer-table {
		width: 100%;

		.table-head {
			background-color: $black-mid;
			color: #fff;
			text-align: center;
			vertical-align: center;
			height: 5rem;
		}

		.table-row {
			background-color:#fff;
			border-bottom:1px solid $gray-light;
			text-align:center;
			vertical-align: center;
			height: 5rem;
		}
	}

}