#ponuka, #newest-blog, #blog-interest{
	h4{
		font-size: 20px;
	}
	&.bg{
		background-color: $gray-light;
		.detail{
			background-color: $gray-light;
		}
	}
	.ponuka-detail,.blog{
		.item{
			z-index: -1;
		}
		.obrazok{
			width: 100%;
			background-position: center;
			background-size: cover;
			padding-top: 65%;
			position: relative;
			img{
				display: block;
				width: 100%;
				object-fit: cover!important;
				position: absolute;
				top: 0;
				height: 100%;
			}
		}
		.owl-nav{
			background-color: rgba(0, 0, 0, 0.4);
			position: absolute;
			left: 0;
			bottom: 1.5rem;
			width: 80px;
			.owl-next{
				position: absolute;
				right: 0;
			}
			i{
				color: #fff;
				padding: 10px;
			}
		}
	}
	.slider-counter{
		position: relative;
		top: -3.2rem;
		z-index: 4;
		color: #fff;
		width: 20px;
		left: 32px;
		font-size: 12px;
	}
	.detail{
		background-color: #fff;
		margin-right: 16%;
		padding-top: 20px;
		position: relative;
		top: -3rem;
		z-index: 10;
	}
	.image-item {
		background-position: center;
		background-size: cover;
		width: 100%;
		padding-top: 60%;
	}

	select {
	    width: 39%;
	    font-size: 16px;
	    font-family: 'Gilroy-Bold'!important;
	    border: 0;
	}

	.select2-selection__rendered {
		font-size: 16px;
		text-align: left;
		font-family: 'Gilroy-Bold'!important;
		padding-left: 0;
	}

    .select2-container--default {

    	.select2-selection--single {
    		outline: none;
    		border: none;
    	}
		.select2-selection__placeholder{
			color: #000;
		}
		.select2-selection__arrow b{
			border-color: #000 transparent transparent transparent;
		}
    }

    .gray-light {
    	color: $gray-mid;
    }

}
