#referencies{
	background-color: #171717;
	position: relative;
	bottom: -1px;
	&::before{
		content: "";
		width: 100vw;
		position: absolute;
		left: 0;
		top:0;
		background-color: #1F2020;
		height: 50%;
	}
	h2{
		color: #fff;
	}
	.referencies{
		.item{
			background-color: #fff;
			padding: 40px;
			span{
				float: right;
			}
			.fa-star{
				&.fail{
					color: $gray-mid;
				}
			}
		}
		.owl-nav{
			text-align: center;
			margin-top: 2rem;
			.owl-next{
				margin-left: 4rem;
			}
			.owl-next,.owl-prev{
				border: 1px solid $gray;
			}
			i{
				color: #fff;
				padding: 10px 14px;
			}
		}
	}
	.slider-counter{
		position: absolute;
		bottom: 0.6rem;
		left: 11.2rem;
		z-index: 6;
		color: #fff;
		width: 20px;
		font-size: 12px;
	}
}